altgraph==0.17.3
asgiref==3.4.1
certifi==2020.6.20
colorama==0.4.5
django==3.2.16
et-xmlfile==1.1.0
future==0.18.2
image==1.5.33
importlib-metadata==4.8.3
lxml==4.9.1
openpyxl==3.0.10
pefile==2022.5.30
pillow==8.4.0
pip==9.0.1
pyinstaller-hooks-contrib==2022.0
pyinstaller==4.10
python-docx==0.8.11
python==3.6.13
pytz==2022.6
pywin32-ctypes==0.2.0
qrcode==7.3.1
setuptools==36.4.0
six==1.16.0
sqlite==3.40.0
sqlparse==0.4.3
typing-extensions==4.1.1
vc==14.2
vs2015_runtime==14.27.29016
wheel==0.37.1
wincertstore==0.2
zipp==3.6.0
